/* ===========================
   ======= Body style ======== 
   =========================== */
   
body {
  color: #000305;
  font-size: 87.5%; /* Base font size: 14px */
  font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.429;
  margin: 0;
  padding: 0;
  text-align: left;
  }
  
.body {
  clear: both; 
  margin: 0 auto; 
  padding: 20px;
  max-width: 1000px;
}
  
/* ===========================
   ========= Headings ======== 
   =========================== */
h2 {font-size: 1.571em} /* 22px */
h3 {font-size: 1.429em} /* 20px */
h4 {font-size: 1.286em} /* 18px */
h5 {font-size: 1.143em} /* 16px */
h6 {font-size: 1em}   /* 14px */

h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: .8em;
}

article h2 {
  color: #CF5C3F;
}
article h3 {
}

/* ===========================
   ======= Anchor style ====== 
   =========================== */
a {
  outline: 0;
  }

a img {
  border: 0px; 
  text-decoration: none;
}

a:link, a:visited {
  color: #CF5C3F;
  padding: 0 1px;
  text-decoration: none;
}

a:hover, a:active {
  background-color: #CF5C3F;
  color: #fff;
  text-decoration: none;
}

/* ===========================
   ===== Main Navigation ===== 
   =========================== */

.mainHeader .heading-title {
  display: flex;
}
.mainHeader .heading-title h1 {
  height: .log
}

.mainHeader nav {
  clear: both;
  background: #666;
  font-size: 1.143em;
  height: 40px;
  line-height: 30px;
  margin: 0 auto 30px auto;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
  
.mainHeader nav ul {
  list-style: none; 
  margin: 0 auto;
}

.mainHeader nav ul li {
  float: left; 
  display: inline; 
}
  
.mainHeader nav a:link, .mainHeader nav a:visited {
  color: #fff;
  display: inline-block;
  height: 30px;
  padding: 5px 23px;
  text-decoration: none;
}
.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
  background: #CF5C3F;
  color: #fff;
  text-shadow: none !important;
}
  
.mainHeader nav li a {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.mainHeader .heading-title > * {
  height: 150px;
  width: auto;
  margin: 1em 0;
}
.mainHeader .heading-title h1 {
  flex: 1;
  margin: 0;
  text-align: center;
  line-height: 100%;
  vertical-align: center;
  font-size: 40px;
}

/* ===========================
   ======= Content Area ====== 
   =========================== */

.mainContent {
  overflow: hidden;
  line-height: 25px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.topcontent,
.mainContent .content article {
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
  padding: 3% 5%; 
  margin-bottom: 3%;
}

.bottomcontent {
  background-color: #FFF; 
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
  padding: 3% 5%;
}

.content {
  width: 68%;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
}

.post-info {
  font-style: italic;
  color: #999;
  font-size: 85%;
}

/* ===========================
   ======== Sidebar ========== 
   =========================== */

.top-sidebar {
  width: 24%;
  float: left;
  margin-left: 2%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
  background-color: #FFF; 
  padding: 2% 3%;
  margin-bottom: 2%;
}

.middle-sidebar {
  width: 24%;
  float: left;
  margin-left: 2%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
  background-color: #FFF; 
  padding: 2% 3%;
  margin-bottom: 2%;
}

.bottom-sidebar {
  width: 24%;
  float: left;
  margin-left: 2%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
  background-color: #FFF; 
  padding: 2% 3%;
}

/* ===========================
   ========= Footer ========== 
   =========================== */

.mainFooter {
  width: 100%;
  float: left;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 0;
  background-color: #666;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
  color: #FFF;  
}

.mainFooter p {
  width: 91%;
  margin: 2% auto;
}

/* ===========================
   ====== Media Queries ====== 
   =========================== */

@media only screen and (min-width : 0px) and (max-width : 350px)
{
  .mainHeader nav {
    height: 160px;
  }
  .mainHeader nav ul {
    padding: 0;
  }
  .mainHeader nav ul li {
    margin-left: 0;
    width: auto;
    display: block;
    float: none !important;
  }
  .mainHeader nav ul li a {
    display: block;
    float: none !important;
  }
  .mainHeader .logos img {
    height: 100px !important;
    float: none !important;
  }
}
@media only screen and (min-width : 350px) and (max-width : 780px)
{
  .body {
    clear: both; 
    margin: 0 auto; 
    width: 90%;
    font-size: 90%;
  }
  
  .mainHeader .logos img {
    height: 120px;
  }
  
  .mainHeader nav {
    background: #666;
    font-size: 1.143em;
    line-height: 30px;
    margin-bottom: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
    
  .mainHeader nav ul {
    list-style: none; 
    margin: 0 auto;
    padding-left: 0;
  }
  
  .mainHeader nav li {
    margin-left: 0;
    width: 25%;
  }
  
  .mainHeader nav a:link, .mainHeader nav a:visited {
    color: #FFF;
    display: block;
    height: 30px;
    padding: 5px 0;
    text-decoration: none;
  }
  
  .mainHeader nav a:active,
  .mainHeader nav .active a:link, .mainHeader nav .active a:visited {
    background: #CF5C3F;
    color: #fff;
    text-shadow: none !important;
  }
    
  .mainHeader nav li a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
      
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  
  .mainHeader img {
    height: 120px;
    width: auto;
    margin-bottom: 3%;
  }
  
  .mainContent {
    overflow: hidden;
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 4%;
    margin-bottom: 2%;
  }
  
  .topcontent {
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    padding: 2% 5%;
    margin-bottom: 4%;
  }
  
  .bottomcontent {
    background-color: #FFF; 
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    padding: 2% 5%;
  }
  
  .content {
    width: 100%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
  } 

  .post-info {
    display: none;
  }
  
  .top-sidebar {
    width: 86%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    background-color: #FFF; 
    margin-top: 4%;
    margin-left: 0;
    padding: 0 7%;
    margin-bottom: 0;   
  }
  
  .top-sidebar p {
    width: 90%;
  }

  .middle-sidebar {
    width: 86%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    background-color: #FFF; 
    margin-top: 4%;
    margin-left: 0;
    padding: 0 7%;
    margin-bottom: 0; 
  }
  
  .middle-sidebar p {
    width: 90%;
  }
  
  .bottom-sidebar {
    width: 86%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    background-color: #FFF; 
    margin-top: 4%;
    margin-left: 0%;
    padding: 0 7%;
    margin-bottom: 1%;
  }
  
  .bottom-sidebar p {
    width: 90%;
  }
    
  .mainFooter {
    width: 100%;
    float: left;
    margin: 2% 0;
    padding-left: 0;
    background-color: #666;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    color: #FFF;  
  }
  
  .mainFooter p {
    width: 86%;
    margin: 2% auto;
  }
}

p.img {
  text-align: center;
}
