<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Girl Scouts HTML Workshop</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class="body">
    
    <header class="mainHeader">
      <div class="heading-title">
        <img class="girlscouts" src="{{ STATIC_URL }}images/girlscouts.png">
        <h1>Girl Scouts Web Developer Workshop</h1>
        <img class="html5" src="{{ STATIC_URL }}images/html5.png">
      </div>
       
      <nav>
        <ul>
          <li{% if page=="index" %} class="active"{% endif %}><a href="/">Home</a></li>
          <li{% if page=="cloud9" %} class="active"{% endif %}><a href="/cloud9.html">Using Cloud9</a></li>
          <!--
          <li{% if page=="html-tips" %} class="active"{% endif %}><a href="/html-tips.html">HTML Tips</a></li>
          <li{% if page=="css-tips" %} class="active"{% endif %}><a href="/css-tips.html">CSS Tips</a></li>
          -->
        </ul>
      </nav>
    </header>

    <div class="mainContent">
      <div class="content"> 
        {% block content %}
        {% endblock %}
      </div>
        
      <aside class="top-sidebar">
        {% block sidebar %}
        <article>
        <h2>Don't Forget!</h2>
        <p>
          <strong>Open Coding Hours</strong> is every Saturday from 2pm to 5pm
          through March 28. Work with mentors one-on-one to sharpen your coding
          skills, or get help executing a bold idea!
          <a href="https://docs.google.com/forms/d/1Hf7AYEZAYm6Y7b8ZLd9HZdnfkrfmbA-_i8UzGEE4J8E/viewform" target="_blank">
            Sign up now!
          </a>
        </p>
        </article>
        <article>
          <h2>Questions?</h2>
          <p>
            Send us an email at 
            <a href="mailto:gs-webdev-info@codeyourworld.org">gs-webdev-info@codeyourworld.org</a>,
            and we'll do our best to point you in the right direction.
          </p>
        </article>
        {% endblock %}
      </aside>
      
    </div>
    
    <footer class="mainFooter">
    </footer>

  </body>
</html>

