{% extends "base.html" %}

{% block content %}
<article class="topcontent">
  <header><h2>Using Cloud9</h2></header>
  <p>
    On this page you'll learn how to:
    <ul>
      <li><a href="#create-a-workspace">Create a new workspace</a></li>
      <li><a href="#create-files">Create new pages</a></li>
      <li><a href="#preview">Preview your page as you code</a></li>
    </ul>
  </p>
</article>
<article>
  <header><h2 id="create-a-workspace">Step 1: Create a workspace</h2></header>
  <p>
    When you want to work on your website, just go to 
    <a href="http://c9.io" target="_blank">http://c9.io</a>, 
    and click on the "Dashboard" link at the top of the screen. Your
    <em>dashboard</em> is where you can manage all of your projects. To make
    this easier, you can create a bookmark to this page in your web browser. See
    your browser's help menu for more information on how to create a bookmark.
  </p>
  <p>
    Once you're in your dashboard, click the <em>"Create a workspace"</em> button in the
    upper-left, and then on <em>"Create a New Workspace"</em>:
  </p>
  <p class="img">
    <img src="https://www.filepicker.io/api/file/XFePZnZuRqigl80gSgCA">
  </p>
  <p>
    You'll then be taken to the screen below:
  </p>
  <p class="img">
    <img src="https://www.filepicker.io/api/file/lxOCWczATY2O89Hu1mDE">
  </p>
  <p>
    First, let's enter our workspace name. You can call this whatever you want.
    This will likely be the name of whatever project you're working on:
  </p>
  <p class="img">
    <img src="https://www.filepicker.io/api/file/lxOCWczATY2O89Hu1mDE">
  </p>
  <p>
    Next, click on the button that says HTML5 to create an HTML5 project, and
    then press the "Create" button:
  </p>
  <p class="img">
    <img src="https://www.filepicker.io/api/file/xuwSdCSIRz2M4tfpqQTK">
  </p>
  <p>
    That's it! You can now see your new workspace in the dashboard. Next time
    you want to come back to it, go to your dashboard, click on your workspace,
    and click "Start Editing".
  </p>
  <p class="img">
    <img src="https://www.filepicker.io/api/file/wrpOoDVtR6rAks0mjb2h">
  </p>
</article>
<article>
  <header><h2 id="create-files" id="create-files">Step 2: Create some files</h2></header>
  <p>
    Any time you want to add a new page to your website, you need to create a
    new HTML file. To do this, go to File &gt; New File...
  </p>
  <p class="img">
    <img src="https://www.filepicker.io/api/file/IOmV5Sk2SliiKXTLXT5m">
  </p>
  <p>
    This opens a new tab within Cloud9, lets give it a name by saving it. Click
    on the newly created tab first to select it, then click File &gt; Save As...
  </p>
  <p class="img">
    <img src="https://www.filepicker.io/api/file/6zzx6QraQPKWHzv4WC02">
  </p>
  <p>
    This brings up a new dialog, just type in index.html or any other name you
    want to give your first html file and press Save:
  </p>
  <p class="img">
    <img src="https://www.filepicker.io/api/file/rqeJA1yRQUCrDXNilYCG">
  </p>
  <p>
    Once the file has a name, you can start typing your html in it!
  </p>
  <p>
    You can create any number of files in your workspace. Always make sure you
    end file names with ".html" for HTML files, and ".css" for css files.
  </p>
</article>
<article>
  <header><h2 id="preview">Step 3: Preview your page as you code</h2></header>
  <p>
    To preview your page while you code, go up to the "Preview" menu, and click
    "Live Preview". This will open another tab and show your HTML there.
    Whenever you change something in your code, it will automatically update to
    reflect your changes.
  </p>
  <p class="img">
    <img src="http://i.imgur.com/gSWSguy.png">
  </p>
</article>
{% endblock %}
