{% extends "base.html" %}
{% block content %}

  <article class="topcontent">  
    <header>
      <h2>Go build something amazing!</h2>
    </header>
    <p>
      You got a small taste of what you can do with HTML and CSS, but that's
      only the tip of the iceberg. Nearly every website you see on the internet
      uses HTML and CSS to create what you see in your browser.
    </p>
    <h3>Get started with Cloud9:</h3>
    <p>
      To get started, you'll want to set up your own Cloud9 account. You'll need
      an email address. If you're under 13, you'll need to ask your parent to
      create an account for you. 
    </p>
    <ol>
      <li>Click <a href="https://c9.io/web/sign-up/free" target="_blank">here</a> to open the Cloud9 signup page.</li>
      <li>Fill out the form.
        <ul>
          <li>Are you a robot? If not, make sure to check the "I'm not a robot" box!</li>
          <li>If you don't want to receive email newsletters, uncheck the "Receive our monthly newsletter" box.</li>
        </ul>
      <li>Click "Create your free account" to submit the form.</li>
      <li>The screen should now say "All done!".</li>
      <li>
        You should get an email that says "Welcome to Cloud9". Make sure you
        click the link where it says "Also, to verify your email
        address, click the link below".
      </li>
    </ol>
    <p><big><strong><a href="/cloud9.html">Click here to learn how to set up your Cloud9 workspace</a></strong></big></p>

    <h3>Where's the web page I made at the workshop?</h3>
    <p>
      We still have it! If you want to continue working on your web page,
      email us at 
      <a href="mailto:gs-webdev-info@codeyourworld.org">gs-webdev-info@codeyourworld.org</a>,
      and we can send you your html file. Once you get the file, you can
      copy-and-paste it into a new file on your <a href="/cloud9.html">Cloud9 workspace</a>.
    </p>
  </article>

{% endblock %}
